.cards-area-container{
    background-color:#F48B29 ;
    height: 41rem;
    width: 25rem;
    border-radius: 16px;
  
}

.cards-area-title{
    color:white;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding: 20px;

}