*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbarSection{
background-color: aqua;


}
.navlist{    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
}
a{
    text-decoration: none;
    
}

